@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <h3>Det finns inga kunder upplagda än.</h3>
}
else
{
    <h2>Customers</h2>
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th><b>Customers</b></th>
                <th>Discount Rate</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>                                   
                    @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null )
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
            </tr>
        }            
        </tbody>
        </table>
    </div>
}

